<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Awful Recruiters</title>
    <link rel="me" href="http://www.google.com/profiles/samsoffes" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Awful Recruiters</h1>
    </header>
    <section>
      <p>I'm starting to compile a list of domains that are purely crap recruiter emails. The goal is to get less email that I would never read anyway.</p>
      <h3>Awful Third-Party Recruiters</h3>
      <p>All third-party recruiters are awful and need to find a real profession. All email from this list is complete crap. (There might be a few real companies mixed in that I would never want to work for. I'll get them moved out at some point.)</p>
      <pre>
workbridgeassociates.com
vtrit.com
jsgeeks.com
questgroups.com
identified.com
sysdevit.com
kbretz.com
brightonsearchgroup.com
trajectory.us.com
peakrecruit.com
turner.com
surrex.com
strategic-staffing.com
encoress.com
kforce.com
epro-consulting.com
resourcis.com
bravotech.com
aplussearch.com
kutirtech.com
thebackplane.com
sptechpartners.com
aimconsulting.com
jobspringpartners.com
axiustek.com
lumoslabs.com
rivierapartners.com
omegasolutioninc.com
good.com
marlabs.com
silversearchinc.com
ownpointofsale.com
talent4now.com
clearslide.com
xcreek.com
disys.com
jinibot.com
avanitechsolutions.com
</pre>

      <h3>More Sources of Awfulness</h3>
      <p>Personally, I don't want any email from these domains either. I can understand how some might though.</p>
<pre>
githire.com
linkedin.com
</pre>

      <h3>Gmail Filter</h3>
      <p>Here is the search I use for my Gmail filter. I have my filter label them <code>recuiter</code>, never mark as important, and archive it. (Scroll left and right. It's long.)</p>
      <pre>
*@workbridgeassociates.com OR *@vtrit.com OR *@jsgeeks.com OR *@questgroups.com OR *@identified.com OR *@sysdevit.com OR *@kbretz.com OR *@brightonsearchgroup.com OR *@trajectory.us.com OR *@peakrecruit.com OR *@turner.com OR *@surrex.com OR *@strategic-staffing.com OR *@encoress.com OR *@kforce.com OR *@epro-consulting.com OR *@resourcis.com OR *@bravotech.com OR *@aplussearch.com OR *@kutirtech.com OR *@thebackplane.com OR *@sptechpartners.com OR *@aimconsulting.com OR *@jobspringpartners.com OR *@axiustek.com OR *@lumoslabs.com OR *@rivierapartners.com OR *@omegasolutioninc.com OR *@good.com OR *@marlabs.com OR *@silversearchinc.com OR *@ownpointofsale.com OR *@talent4now.com OR *@githire.com OR *@linkedin.com OR *@clearslide.com OR *@xcreek.com OR *@disys.com OR *@jinibot.com OR *@avanitechsolutions.com
</pre>
    </section>
    <footer>
      <p>Created by <a href="http://samsoff.es/" rel="home">Sam Soffes</a>. Enjoy.</p>
    </footer>
  </body>
</html>
