<p>I'm starting to compile a list of domains of recruiters. The goal is to get less email that I would never read anyway.</p>
<h3>Awful Third-Party Recruiters</h3>
<p>I strongly dislike third-party recruiters. All email I have recieved from this list is crap. "Exciting opportunities" for positions I am wildly unqualitified for or recruiting companies that I have asked to stop emailing me but keep following up anyway. (There might be a few real companies mixed in that I would never want to work for. I'll get them moved out at some point.)</p>
<pre><%= recruiters['thirdparty'].join("\n") %></pre>

<h3>Undesirable Companies</h3>
<p>I've gotten really poor recruiter emails from these domains. I'd rather not receive any more from them.</p>
<pre><%= recruiters['companies'].join("\n") %></pre>

<h3>More Sources of Recruiter Email</h3>
<p>Personally, I don't want any email from these domains either. I can understand how some might though.</p>
<pre><%= recruiters['other'].join("\n") %></pre>

<h3>Gmail Filter</h3>
<p>Here is the search I use for my Gmail filter. I have my filter label them <code>recuiter</code>, never mark as important, and archive it. (Scroll left and right. It's long.)</p>
<pre><%= filter %></pre>
<p>If you've enabled the <a href="http://gmailblog.blogspot.com/2009/03/new-in-labs-filter-importexport.html" rel="external nofollow">Filter import/export lab</a>, you can <a href="/gmail.xml">download the filter</a>.</p>
